<include file="Public/header" title="{$store_config.store_title}" description="{$store_config.store_desc}"/>
<style>
	body  {
		background: #f2f2f2;
	}
	#login{
		background: #FFF;
	}
</style>
<div class="container">
	<div class="page-header">
	<h2 class="text-center">忘记密码</h2>
	</div>
</div>	

<div class="container mb30" id="login">
	<form action="{:U('Login/loginHandle')}" method="post" class="form-horizontal">
		<div class="control-group pt40">
                <label class="control-label" for="email">用户邮箱</label>
                <div class="controls">
                    <input type="text" id="email" name="email" placeholder="用户邮箱">
                </div>
            </div>
            
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">发送邮件</button>
                </div>
            </div>
	</form>
</div>

<include file="Public/footer" />