<div class="left_content">
    <ul class="list-group black">
        <li class="list-group-item"><a href="{:U('Order/orderList')}">订单列表</a></li>
        <li class="list-group-item"><a href="{:U('Order/orderSearch')}">订单查询</a></li>
        <li class="list-group-item"><a href="{:U('Order/orderDeliverList')}">发货单列表</a></li>
        <li class="list-group-item"><a href="{:U('Order/orderReturnList')}">退货单列表</a></li>
        <li class="list-group-item"><a href="{:U('Order/orderPrintTemplate')}">订单打印模板</a></li>
    </ul>
</div>