<section>
    <div class="container footer">
        <div class="footer"
            <div class=" w1200_2 m0auto">
                <div class="S-link">
                    <ul>
                        <li>
                            <a href="/#" class="text7"><img src="/Public/Home/images/bg_public_1.jpg"></a>
                            <a href="/home/article/article_detail/1" title="用户协议" class="text8">用户协议</a>
                            <a href="/home/article/article_detail/2" title="常见问题" class="text8">常见问题</a>
                            <a href="/home/article/article_detail/3" title="网站购物流程" class="text8">网站购物流程</a>
                            <a href="/home/article/article_detail/4" title="会员制度" class="text8">会员制度</a>
                            <a href="/home/article/article_detail/5" title="VIP客户与合作" class="text8">VIP客户与合作</a>
                        </li>
                        <li>
                            <a href="/#" class="text7"><img src="/Public/Home/images/bg_public_2.jpg"></a>
                            <a href="/home/article/article_detail/6" title="如何付款" class="text8">如何付款</a>
                            <a href="/home/article/article_detail/7" title="发票制度说明" class="text8">发票制度说明</a>
                            <a href="/home/article/article_detail/8" title="电子券说明" class="text8">电子券说明</a>
                            <a href="/home/article/article_detail/9" title="虚拟账户支付" class="text8">虚拟账户支付</a>
                            <a href="/home/article/article_detail/10" title="商品优惠代码说明" class="text8">商品优惠代码说明</a>
                        </li>
                        <li>
                            <a href="/#" class="text7"><img src="/Public/Home/images/bg_public_3.jpg"></a>
                            <a href="/home/article/article_detail/11" title="配送收费标准" class="text8">配送收费标准</a>
                            <a href="/home/article/article_detail/12" title="配送时间" class="text8">配送时间</a>
                            <a href="/home/article/article_detail/13" title="货到付款支持城市" class="text8">货到付款支持城市</a>
                        </li>
                        <li>
                            <a href="/#" class="text7"><img src="/Public/Home/images/bg_public_4.jpg"></a>
                            <a href="/home/article/article_detail/14" title="如何办理退换货" class="text8">如何办理退换货</a>
                            <a href="/home/article/article_detail/15" title="如何退款" class="text8">如何退款</a>
                            <a href="/home/article/article_detail/16" title="联系客服" class="text8">联系客服</a>
                        </li>
                        <li>
                            <a href="/#" class="text7"><img src="/Public/Home/images/bg_public_5.jpg"></a>
                            <a href="/home/article/article_detail/17" title="了解搜酒坊" class="text8">了解搜酒坊</a>
                            <a href="/home/article/article_detail/18" title="加入我们" class="text8">加入我们</a>
                            <a href="/home/article/article_detail/19" title="联系我们" class="text8">联系我们</a>
                            <a href="/home/article/article_detail/20" title="隐私声明" class="text8">隐私声明</a>
                            <a href="/home/article/article_detail/21" title="友情链接" class="text8">友情链接</a>
                        </li>
                    </ul>
                </div>
                <div class="clr"></div>
                <div class="T-link">
                    <img src="/Public/Home/images/footer_4.png">
                </div>
                <style type="text/css">
                                                               
                </style>
                <div class="w1200_2 m0auto footer-2015">
                    <div class="links">
                        <a href="/" target="_blank" rel="nofollow">诚佰官网</a>
                        |
                        <a href="/" target="_blank" rel="nofollow">招商加盟</a>
                        |
                        <a href="/" target="_blank" rel="nofollow">商家入驻</a>
                        |
                        <a href="/" target="_blank" rel="nofollow">联系我们</a>
                        |
                        <a href="/" target="_blank" rel="nofollow">关于我们</a>
                        |
                        <a href="/" target="_blank">友情链接</a>
                    </div>
                    <div class="copyright">
                        长春市公安局朝阳分局备案编号110105014669  |  京ICP证070359号  |  <a href="/#">互联网药品信息服务资格证编号(京)-经营性-2014-0008</a>  |  新出发京零 字第大120007号<br>
                        <a href="/#">音像制品经营许可证苏宿批005号</a>  |  出版物经营许可证编号新出发(苏)批字第N-012号  |  互联网出版许可证编号新出网证(京)字150号<br>
                        网络文化经营许可证京网文[2014]2148-348号  违法和不良信息举报电话：4006555555  Copyright © 2004-2015  诚佰CB.com 版权所有<br>
                        诚佰旗下网站：360TOP  <a href="/#">拍拍网</a>  <a href="/#">网银在线</a>
                    </div>
                </div>
                <div class="T-logo m0auto">
                    <ul>
                        <li>
                            <a href="/#"><img src="/Public/Home/images/foot01_01.png" alt="" title=" " height="51" width="137"></a>
                        </li>
                        <li>
                            <a href="/#"><img src="/Public/Home/images/foot01_02.png" alt="" title=" " height="51" width="137"></a>
                        </li>
                        <li>
                            <a href="/#"><img src="/Public/Home/images/foot01_03.png" alt="" title=" " height="51" width="137"></a>
                        </li>
                        <li>
                            <a href="/#"><img src="/Public/Home/images/foot01_04.png" alt="" title=" " height="51" width="137"></a>
                        </li>
                        <li>
                            <a href="/#"><img src="/Public/Home/images/foot01_05.png" alt="" title=" " height="51" width="137"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="back-to-top">
    <a href="/#"><span class="icon-arrow-up icon-2x"></span>返回顶部</a>
</div>
<script src="__PUBLIC__/Home/js/common.js"></script>
<include file="Login/ajax_loginform" />
</body>
</html>
