<include file="Public/header" title="{$store_config.store_title}" description="{$store_config.store_desc}"/>

<div class="header wthrough" style="background: none;">
	<include file="Public/nav_header" />
</div>

<div class="content w1200 m0auto">
	<include file="User/user_nav" />
	<div class="content-right">
        <div class="page-header">
            <h2>订单信息</h2>
        </div>
    	   <table class="table table-hover table-striped table-bordered">
            <thead>
              <tr>
                <th>商品名称</th>
                <th>价格</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td> 
                <td></td> 
                <td></td> 
              </tr>
            </tbody>
         </table>
  </div>
</div> 
 
<include file="Public/footer" />