<include file="Public/header" title="{$store_config.store_title}" description="{$store_config.store_desc}"/>

<div class="header wthrough" style="background: none;">
<include file="Public/nav_header" />
</div>

<div class="content w1200 m0auto">
	<include file="User/user_nav" />
	<div class="content-right">
        <div class="page-header">
            <h2>修改密码</h2>
        </div>
    	<form action="{:U('User/savePassword')}" method="post" class="form-horizontal">
          <div class="control-group">
            <label class="control-label" for="oldpassword">原密码</label>
            <div class="controls">
              <input type="text" name="oldpassword" id="oldpassword" placeholder="原密码">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="password">新密码</label>
            <div class="controls">
              <input type="text" name="password" id="password" placeholder="新密码">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="rpassword">确认密码</label>
            <div class="controls">
              <input type="text" name="rpassword" id="rpassword" placeholder="确认密码">
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn btn-primary">保存</button>
            </div>
          </div>
        </form>
    </div>
</div> 
 
<include file="Public/footer" />