<div class="route"><span>当前位置：</span><a class="route-text" href="{:U('User/index')}">首页</a><span>〉</span><a>用户中心</a></div><div class="content-left">
    <ul>
        <li><div class="list-type"><img src="/Public/Home/images/xing.png" /></div><span><a href="{:U('User/index')}">欢迎页</a></span><div class="sign"><img src="/Public/Home/images/xing.png" /></div></li>
        <li><div class="list-type"><img src="/Public/Home/images/xing.png" /></div><span><a href="{:U('User/profileSetting')}">基本信息</a></span><div class="sign"><img src="/Public/Home/images/xing.png" /></div></li>
        <li><div class="list-type"><img src="/Public/Home/images/xing.png" /></div><span><a href="{:U('User/passwordSetting')}">密码安全</a></span><div class="sign"><img src="/Public/Home/images/xing.png" /></div></li>
        <li><div class="list-type"><img src="/Public/Home/images/xing.png" /></div><span><a href="{:U('User/orderlistSetting')}">订单页面</a></span><div class="sign"><img src="/Public/Home/images/xing.png" /></div></li>
        <li><div class="list-type"><img src="/Public/Home/images/xing.png" /></div><span><a href="{:U('User/collectionlistSetting')}">收藏页面</a></span><div class="sign"><img src="/Public/Home/images/xing.png" /></div></li>
        <li><div class="list-type"><img src="/Public/Home/images/xing.png" /></div><span><a href="{:U('User/addresslistSetting')}">地址信息</a></span><div class="sign"><img src="/Public/Home/images/xing.png" /></div></li>
        <li><div class="list-type"><img src="/Public/Home/images/xing.png" /></div><span><a href="{:U('Cart/showCart')}">购物车</a></span><div class="sign"><img src="/Public/Home/images/xing.png" /></div></li>
        <li class="last"><div class="list-type"><img src="/Public/Home/images/xing.png" /></div><span><a href="{:U('User/exchangeSetting')}">兑换中心</a></span><div class="sign"><img src="/Public/Home/images/xing.png" /></div></li>
    </ul>
</div>
<style type="text/css">
.content{margin-top:-10px; margin-bottom:20px;}
.route{width:100%;margin-top:10px; line-height:30px; float:left;}
.route span{display:block; float:left;}
.route a{display:block; padding:0 5px 0 0; float:left;}
.route a.route-text{color:#F00;}
.content-left{float:left; width:250px; margin:5px; border:#6CF 1px solid;}
.content-left ul li{width:240px; margin:5px; float:left; line-height:35px; font-size:20px; font-weight:700; color:#666; border-bottom:#CCC 1px dashed;}
.content-left ul li.last{border-bottom:none;}
.content-left ul li .list-type{width:20px; height:20px; float:left; margin-right:10px;}
.content-left ul li span{float:left;}
.content-left ul li .sign{float:right; width:20px; height:20px;}
.content-right{width:900px; float:right;border:#6CF 1px solid; margin:5px 18px;}
.content-right .login-info{width:880px; margin:5px 10px; padding:0 5px;}
.content-right .login-info h3{ text-align:center; line-height:50px; font-size:25px;}
.content-right .login-info h3 span{color:red;font-size:22px; font-family:"Courier New", Courier, monospace; padding:0 10px;}
.content-right .login-info ul{width:870px; margin:0 auto;}
</style>