<include file="Public/header" title="巨搜商店" description="这是一个B2C,C2C的平台,在这里你不仅是买家,而且还是卖家,你可以经营属于自己的店铺."
keywords="B2C,C2C,O2O,在线交易,线下交易"/>
<!-- Container -->
<div class="container">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span>1</span> 个人信息
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="billing">国家: <abbr>*</abbr></label>
                    <select class="form-control">
                        <option value="">请选择</option>
                        <option value="">中国</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="billing">省份: <abbr>*</abbr></label>
                    <select class="form-control">
                        <option value="">请选择</option>
                        <option value="">吉林</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="billing">城市: <abbr>*</abbr></label>
                    <select class="form-control">
                        <option value="">请选择</option>
                        <option value="">长春</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="billing">地区<abbr>*</abbr></label>
                    <select class="form-control">
                        <option value="">请选择</option>
                        <option value="">南关区</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>姓名: <abbr>*</abbr></label>
                    <input type="text" placeholder="" value="" class="form-control">
                </div>
                <div class="form-group">
                    <label>邮编:<abbr>*</abbr></label>
                    <input type="text" placeholder="" value="" class="form-control">
                </div>
                <div class="form-group">
                    <label>Email: <abbr>*</abbr></label>
                    <input type="text" placeholder="" value="" class="form-control">
                </div>
                <div class="form-group">
                    <label>电话号码: <abbr>*</abbr></label>
                    <input type="text" placeholder="" value="" class="form-control">
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label for="shipping-address" class="checkbox">
                            <input id="shipping-address" type="checkbox" name="shipping-address" checked="checked" value="1">详细地址邮件发送的地址
                        </label>
                    </div>
                </div>
                <a href="{:U('Order/delivery')}" class="btn btn-success">继续</a>
                <a href="{:U('Order/delivery')}" class="btn">
                <div class="checkout-section"><span>2</span> Delivery</div>
                </a>
                <a href="{:U('Order/payOrder')}" class="btn">
                <div class="checkout-section"><span>3</span> 确认支付</div>
                </a>
            </div>
        </div>
    </div>
    <!-- Billing Details / Enc -->
    <!-- Checkout Cart -->
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                购物车
            </div>
            <div class="panel-body">
                <table class="table table-hover table-response table-striped">
                    <tbody>
                        <tr class="st-new-item">
                            <td>
                               <a href="{:U('Goods/goodsDetail',array('goods_id'=>$goods['goods_id']))}">
                                    {$goods.goods_name}
                               </a>
                            </td>
                            <td>
                                <img src="__PUBLIC__/Home/images/small_product_list_08.jpg" alt="">
                            </td>
                        </tr>
                        <tr>
                            <td class="st-key">价格</td>
                            <td class="st-val">¥79.00</td>
                        </tr>
                        <tr>
                            <td class="st-key">数量</td>
                            <td class="st-val">1</td>
                        </tr>
                        <tr>
                            <td class="st-key">总计</td>
                            <td class="st-val">¥79.00</td>
                        </tr>

                        <tr class="st-new-item">
                            <td class="st-key"></td>
                            <td class="st-val st-head-row">
                                <img src="__PUBLIC__/Home/images/small_product_list_09.jpg" alt="">
                            </td>
                        </tr>
                        <tr>
                            <td class="st-key"></td>
                            <td class="st-val">
                                <a href="">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="st-key">价格</td>
                            <td class="st-val">¥99.00</td>
                        </tr>
                        <tr>
                            <td class="st-key">数量</td>
                            <td class="st-val">1</td>
                        </tr>
                        <tr>
                            <td class="st-key">总计</td>
                            <td class="st-val">¥99.00</td>
                        </tr>

                        <tr>
                            <th class="checkout-totals">
                                <div class="checkout-subtotal">
                                    总计: <span>¥178</span>
                                </div>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Checkout Cart / End -->
</div>
<!-- Container / End -->
<include file="Public/footer" />