<include file="Public/header" title="{$store_config.store_title}" description="{$store_config.store_desc}"/>

<!-- Container -->
<div class="container">
    <div class="span12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span>收货信息</span> 
            </div>
            <div class="panel-body">
                <label class="billing">配送区域: <abbr>*</abbr></label>
                
                <select id="sel_province">
                    <option value="0">请选择</option>
                    <volist name="provinces" id="province">
                        <option value="{$province.region_id}">{$province.region_name}</option>
                    </volist>
                </select>
             
                <select id="sel_city">
                    <option value="0">请选择</option>
                    <volist name="cities" id="city">
                        <option value="{$city.region_id}">{$city.region_name}</option>
                    </volist>
                </select>
               
                <select id="sel_district">
                    <option value="0">请选择</option>
                    <volist name="districts" id="district">
                        <option value="{$district.region_id}">{$district.region_name}</option>
                    </volist>
                </select>

                <div>
                    <label>姓名: <abbr>*</abbr></label>
                    <input type="text" placeholder="" value="" />
                </div>
                <div>
                    <label>邮编:<abbr>*</abbr></label>
                    <input type="text" placeholder="" value="" />
                </div>
                <div class="form-group">
                    <label>Email: <abbr>*</abbr></label>
                    <input type="text" placeholder="" value="" class="form-control">
                </div>
                <div class="form-group">
                    <label>电话号码: <abbr>*</abbr></label>
                    <input type="text" placeholder="" value="" class="form-control">
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label for="shipping-address" class="checkbox">
                            <input id="shipping-address" type="checkbox" name="shipping-address" checked="checked" value="1">详细地址邮件发送的地址
                        </label>
                    </div>
                </div>
                <a href="{:U('Order/delivery')}" class="btn btn-success">继续</a>
                <a href="{:U('Order/delivery')}" class="btn">
                <div class="checkout-section"><span>2</span> Delivery</div>
                </a>
                <a href="{:U('Order/payOrder')}" class="btn">
                <div class="checkout-section"><span>3</span> 确认支付</div>
                </a>
            </div>
        </div>
    </div>
 
    <!-- Checkout Cart -->
    <div class="span6">
        <div class="panel panel-default">
            <div class="panel-heading">
                购物车
            </div>
            <div class="panel-body">
                <table class="table table-hover table-response table-striped">
                    <tbody>
                        <tr>
                            <th>商品</th>
                            <th>单价</th>
                            <th>数量</th>
                            <th>小计</th>
                        </tr>

                        <volist name="cart_info" id='cart'>
                            <tr class="st-new-item">
                                <td>
                                    <a href="{:U('Goods/goodsDetail',array('goods_id'=>$goods['goods_id']))}">
                                        {$cart.goods_name}
                                    </a>
                                    <img src="__PUBLIC__/{$cart.goods_thumb}" alt="{$cart.goods_name}" width="100" height="100">
                                </td>
                           
                                <td class="st-val">{$cart.goods_price}</td>
                            
                                <td class="st-val">{$cart.goods_number}</td>
                                <td class="st-val">{$cart.subtotal_price}</td>
                            </tr>
                        </volist>

                        <tr>
                            <th class="checkout-totals">
                                <div class="checkout-subtotal">
                                    总计: <span>{$cart.total_price}</span>
                                </div>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
   
</div>
<!-- Container / End -->
<include file="Public/footer" />