<include file="Public/header" title="结算" description="这是一个B2C,C2C的平台,在这里你不仅是买家,而且还是卖家,你可以经营属于自己的店铺." keywords="B2C,C2C,O2O,在线交易,线下交易"/>

<!-- Content
================================================== -->

<!-- Container -->
<div class="container">

	<div class="col-md-6 col-sm-12 col-xs-12">
		<div class="panel panel-default">
			
			<a href="{:U('Order/checkout')}">
				<div class="panel panel-heading">
					<span>1</span> 送货地址 <strong><i class="fa fa-edit"></i>编辑</strong> 
				</div>
			</a>

			<div class="panel panel-body">
				<div class="col-md-6 col-sm-12 col-xs-12">
	                <ul class="list-group">
	                    <li class="list-group-item active"><strong>送货位置</strong></li>
	                    <li class="list-group-item">吉林省</li>
	                    <li class="list-group-item">长春市</li>
	                    <li class="list-group-item">高新区</li>
	                    <li class="list-group-item">修正路232号101栋2楼504</li>
	                </ul>
	            </div>
	            <div class="col-md-6 col-sm-12 col-xs-12">
	                <ul class="list-group">
	                    <li class="list-group-item active"><strong>联系电话</strong></li>
	                    <li class="list-group-item">15888888888</li>
	                </ul>
	            </div>
	        </div>
	    </div>

	    <div class="panel panel-default">
	    	<a href="#">
	    		<div class="panel panel-heading">
	    			<span>2</span> 送货地址 <strong><i class="fa fa-edit"></i>编辑</strong> 
	    		</div>
	    	</a>
			<div class="panel panel-body">
				<ul class="list-group">
						<li class="list-group-item"><strong>Express Delivery <span class="delivery-summary">$14.99 <span class="sep">|</span> Delivery in 1 to 2 Business Days</span></strong></li>
				</ul>
			</div>
		</div>

		<div class="panel panel-success">
			<div class="panel panel-heading"><span>3</span> 支付确认</div>
			<div class="panel panel-body">
				<div class="checkout-summary">
					<div class="eight columns alpha omega">
						<ul class="address-review summary">
							<li><strong>Credit Card</strong></li>
							<li>
								<ul class="payment-icons checkout">
									<li><img src="./Trizzy_pay_order_files/visa.png" alt=""></li>
									<li><img src="./Trizzy_pay_order_files/mastercard.png" alt=""></li>
									<li><img src="./Trizzy_pay_order_files/skrill.png" alt=""></li>
									<li><img src="./Trizzy_pay_order_files/moneybookers.png" alt=""></li>
									<li><img src="./Trizzy_pay_order_files/paypal.png" alt=""></li>
								</ul>
								<div class="clearfix"></div>
							</li>
							<li class="credit-card-fields">
								<span><label>Credit Card Number:</label><input type="text" value=""></span>

								<span><label>Month:</label>
								<select>
									<option value="">01</option>
									<option value="">02</option>
									<option value="">03</option>
									<option value="">04</option>
									<option value="">05</option>
									<option value="">06</option>
									<option value="">07</option>
									<option value="">08</option>
									<option value="">09</option>
									<option value="">10</option>
									<option value="">11</option>
									<option value="">12</option>
								</select></span>
								
								<span><label>Year:</label>
								<select>
									<option value="">2014</option>
									<option value="">2015</option>
									<option value="">2016</option>
									<option value="">2017</option>
									<option value="">2018</option>
								</select></span>
								<div class="clearfix"></div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-success">
			<a href="" class="continue button color">
				<div class="">
					Prlace Orde
				</div>
			</a>
		</div>
	</div>
	<!-- Checkout Content / End -->


	<!-- Checkout Cart -->

	<div class="col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                购物车
            </div>
            <div class="panel-body">
                <table class="table table-hover table-response table-striped">
                <tbody>
                <tr class="st-space">
                    <td></td>
                    <td></td>
                </tr>
                <tr class="st-new-item">
                    <td class="st-key"></td>
                    <td class="st-val st-head-row"><img src="./Trizzy_check_out_files/small_product_list_08.jpg" alt="">
                    </td>
                </tr>
                <tr>
                    <td class="st-key"></td>
                    <td class="st-val"><a href="http://vasterad.com/themes/trizzy/checkout-billing-details.html#">Converse
                        All Star Trainers</a></td>
                </tr>
                <tr>
                    <td class="st-key">Price</td>
                    <td class="st-val">$79.00</td>
                </tr>
                <tr>
                    <td class="st-key">Qty</td>
                    <td class="st-val">1</td>
                </tr>
                <tr>
                    <td class="st-key">Total</td>
                    <td class="st-val">$79.00</td>
                </tr>
                <tr class="st-space">
                    <td></td>
                    <td></td>
                </tr>
                <tr class="st-new-item">
                    <td class="st-key"></td>
                    <td class="st-val st-head-row"><img src="./Trizzy_check_out_files/small_product_list_09.jpg" alt="">
                    </td>
                </tr>
                <tr>
                    <td class="st-key"></td>
                    <td class="st-val"><a href="http://vasterad.com/themes/trizzy/checkout-billing-details.html#">Wool
                        Two-Piece Suit</a></td>
                </tr>
                <tr>
                    <td class="st-key">Price</td>
                    <td class="st-val">$99.00</td>
                </tr>
                <tr>
                    <td class="st-key">Qty</td>
                    <td class="st-val">1</td>
                </tr>
                <tr>
                    <td class="st-key">Total</td>
                    <td class="st-val">$99.00</td>
                </tr>
         
                    <tr>
                        <th class="checkout-totals">
                            <div class="checkout-subtotal">
                                Subtotal: <span>$178.00</span>
                            </div>
                        </th>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
	
	<!-- Checkout Cart / End -->


</div>

<include file="Public/footer" />