*, body, ul, li {
    margin: 0px;
    padding: 0px;
    font-family: '微软雅黑'
}

body{
    min-height: 800px;
    padding-top: 40px;
}

a{
    color:#000000;
}
a:hover{
    color:#000000;
}

img {
    border: 0px;
    max-width: 100%;
}


.carousel-inner img{
    width:100%;
}
.fs14{
    font-size: 14px;
}
.fs15{
    font-size: 15px;
}
.fs16{
    font-size: 16px;
}
.fs18{
    font-size: 18px;
}
.fs20{
    font-size: 20px;
}
.mb5{
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb25{
    margin-bottom: 25px;
}

.mb30{
    margin-bottom: 30px;
}

.mt5{
    margin-top: 5px;
}

.mt10{
    margin-top: 10px;
}

.mt15{
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}
.mt25{
    margin-top: 25px;
}
.mt30{
    margin-top: 30px;
}
.mt40{
    margin-top: 40px;
}
.mt50{
    margin-top: 50px;
}
.mt55{
    margin-top: 55px;
}
.ml5{
    margin-left: 5px;
}
.ml10{
    margin-left: 10px;
}
.ml15{
    margin-left: 15px;
}
.ml20{
    margin-left: 20px;
}
.mr5{
    margin-right: 5px;
}
.mr10{
    margin-right: 10px;
}
.mr15{
    margin-right: 15px;
}
.mr20{
    margin-right: 20px;
}
.mr25{
    margin-right: 25px;
}
.pt5{
    padding-top: 5px;
}

.pt10{
    padding-top: 10px;
}

.pt15 {
    padding-top: 15px;
}

.pt20{
    padding-top: 20px;
}

.pt25{
    padding-top: 25px;
}

.pt30{
    padding-top: 30px;
}
.pt40{
    padding-top: 40px;
}
.pt50 {
    padding-top: 50px;
}
.pb5{
    padding-bottom: 5px;
}

.pb10{
    padding-bottom: 10px;
}

.pb15 {
    padding-bottom: 15px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb25{
    padding-bottom: 25px;
}

.pl5{
    padding-left: 5px;
}
.pl10{
    padding-left: 10px;
}
.pl15{
    padding-left: 15px;
}
.pl20{
    padding-left: 20px;
}
.pl25{
    padding-left: 25px;
}
.pl30{
    padding-left: 30px;
}
.pl35{
    padding-left: 35px;
}
.pl40{
    padding-left: 40px;
}
.pr5{
    padding-right: 5px;
}
.pr10{
    padding-right: 10px;
}
.pr15{
    padding-right: 15px;
}
.pr20{
    padding-right: 20px;
}
.pr25{
    padding-right: 25px;
}

.width40 {
    width: 40%;
}

.width60 {
    width: 60%;
}

.width80 {
    width: 80%;
}
.height180{
    height: 180px;
}

.fl {
    float: left;
}
.fr {
    float: right;
}
.inline{
    display: inline;
}
.list-no-style{
    list-style: none;
}
.list-inline{
    list-style: none;
}
.list-inline li{
    display: inline;
}
.white{
    color: white;
}
.grey{
    color:#ccc;
}

/** 首页样式 **/
.goods-footer{
    height: 100px;
    background-color: #CCC;
    padding-top: 15px;
}

.goods-footer a{
    color:#000;
}


/**商品详情页**/

.gallery-jumb a{
    float: left;
}

.cart-input{
    text-align: center;
    width: 30px;
    color: #666;
    border: 1px solid #ccc;
}

#back-to-top{
    position:fixed;
    display:none;
    bottom:100px;
    right:80px;
}

#back-to-top a{
    text-align:center;
    text-decoration:none;
    color:#d1d1d1;
    display:block;
    width:70px;
    /*使用CSS3中的transition属性给跳转链接中的文字添加渐变效果*/
    -moz-transition:color 1s;
    -webkit-transition:color 1s;
    -o-transition:color 1s;
}
#back-to-top a:hover{
    color:#979797;
}

/**乐透大转盘**/
.turntable-bg {
  margin-top:50px;
  margin-left:55px;
  width: 531px;
  height: 531px;
  position: relative;
  background: url("../images/turntable-bg2.png");
}
.turntable-bg .mask {
  width: 454px;
  height: 451px;
  position: absolute;
  left: 116px;
  top: 60px;
  /*z-index:9;*/
}
.turntable-bg .pointer {
  width: 174px;
  height: 228px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -94px;
  margin-top: -130px;
  z-index: 8;
}
.turntable-bg .rotate {
  width: 450px;
  height: 450px;
  position: absolute;
  left: 40px;
  top: 38px;
}

/*** footer **/
.footer-2015{border-top: 1px solid #e5e5e5;padding: 20px 0 30px;text-align: center;}
.footer-2015 .copyright{margin:10px 0;line-height:20px;}
.footer-2015 .copyright a{text-decoration:none;}
.footer-2015 .copyright a:hover{color:#F00;}


html,body{ height: 100%}
*,body,ul,li{ margin: 0px; padding: 0px; font-size: 12px; font-family: '宋体'}
li{float: left; display: inline;}
img{ border: 0px;}
a{ color: #3F3E3E; text-decoration: none}
.clr{ height: 0px; line-height: 0px; overflow: hidden; font-size: 0px; clear: both;}
.wthrough{ width: 100%;}
.w1200{ width: 1200px;}
.m0auto{ margin:0 auto;}

.fleft{ float: left; display: inline;}
.fright{ float: right; display: inline;}
.mb10{ margin-bottom: 10px;}
.ml10{ margin-left: 10px;}
.ml15{ margin-left: 15px;}
.ml20{ margin-left: 20px;}
.ml70{ margin-left: 70px;}
.ml35{ margin-left: 35px;}
.mr5{ margin-right: 5px;}
.mr10{ margin-right: 10px;}
.mr20{ margin-right: 20px;}
.pl10{padding-left: 10px;}
.pl20{padding-left: 20px;}
.pt35{padding-top:  35px; width:100px;}
.pt35_2{padding-top:  35px; width:86px; }
.pt0{ padding-top:  35px; }
.pt20{padding-top:20px;}
.tindent20{text-indent:10px;}
.tac{text-align:center;}
.lspacing{letter-spacing:-1px;}



/*
 *  头部样式
 *------------------------------------------------------------
*/
.header{ background: url(../images/header_top_bg.png) repeat-x #FFF; }
.header_top{ height: 30px;}
.header_top div.left{}
.header_top div.left ul{}
.header_top div.left ul li{ height: 30px; line-height: 30px;}
.header_top div.left ul li span.collection{ background: url(../images/tiny-icon.png) no-repeat; width: 11px; height: 11px; display: block; position: relative; top: 8px;}
.header_top div.left ul li.login_info{ border: 1px #E8E8E8 solid; background: #FCFBFB; position: relative; top: 4px; height: 20px; line-height: 20px; padding: 0 10px;}
.header_top div.left ul li.login_info span{ float: left; display: inline; color: red}
.header_top div.left ul li.login_info span a{ color: red}
.header_top div.left ul li.login_info span.login{ background: url(../images/tiny-icon.png) 0px -15px no-repeat; padding-left: 20px;}
.header_top div.left ul li.login_info span.register{ background: url(../images/tiny-icon.png) 0px -35px no-repeat; padding-left: 20px;}
.header_top div.left ul li.to{ display: none;}
.header_top div.right{ height: 12px; line-height: 12px; position: relative; top: 10px;}
.header_top div.right ul{}
.header_top div.right ul li{ border-right: 1px #B0AFAF solid; padding: 0 10px;}
.header_top div.right ul li.no-separate{ border-right: 0px}
.header_top div.right ul li .dd {width: 82px;padding-bottom: 8px;}
.header_top div.right ul li .dorpdown-layer {display: none;position: absolute;}
.header_top_ad{ width: 100%; overflow: hidden;}

.header_middle{ padding: 10px 0px;}
.of{ overflow:hidden; }
#logo{ width: 210px; height: 66px; overflow: hidden;}
.logo_ad{ width: 90px; height: 65px; overflow: hidden;}
.logo_ad img{ width: 90px; height: 65px;}

.header_middle div.search{ background: url(../images/search_bg.png) no-repeat; width: 438px; height: 30px; padding: 3px 0px; padding-left: 4px; position: relative; top: 5px;}
.header_middle div.search div.input{ width: 335px; height: 30px;}
.header_middle div.search div.input input{ width: 305px; height: 30px; line-height: 30px; background: url(../images/tiny-icon.png) 5px -72px no-repeat; border: 0px; padding-left: 30px;}
.header_middle div.search div.submit{  }
.header_middle div.search div.submit input{ border: 0px; line-height: 30px; width: 100px; height: 30px; background: #CF000C; color: #fff; font-size: 18px; font-weight: bold;}
.header_middle div.hot_keywords{ height: 30px; line-height: 30px; font-weight: bold; color: #838181; font-size: 14px;}

.header div.nav_awrp{ background: #CF010E; height: 40px; line-height: 40px; position: relative; z-index: 9999; }

.header div.nav_awrp div.all_category{ position: relative; z-index: 99999}
.header div.nav_awrp div.all_category div.all_category_switch{ font-family: '微软雅黑'; line-height: 47px;  background: url(../images/all_category_switch_bg.png) no-repeat; width: 214px; height: 47px; position: relative; top: -6px; font-size: 14px; color: #fff}
.header div.nav_awrp div.all_category div.all_category_switch span{ display: block; width: 23px; height: 20px; position: relative; top: 12px;}
.header div.nav_awrp div.all_category div.all_category_switch span.home{ background: url(../images/tiny-icon.png) 0px -100px no-repeat;}
.header div.nav_awrp div.all_category div.all_category_switch span.down{ width: 17px; height: 9px; background: url(../images/tiny-icon.png) 0px -125px no-repeat; top: 15px;position:absolute;left:180px;}
.header div.nav_awrp div.all_category div.all_category_list{ width: 210px; position: relative; top:-7px; background: #F1F1F1; z-index: 99999; }
.all_category_list ul{}
.all_category_list ul li{width: 100%; padding-bottom:5px;}
.all_category_list ul li.even{ background: #E4E2E2}

.category_list_title{ width: 100%; height: 35px; line-height: 35px; display: block;}
.category_list_content{}
.category_list_content ul{}
.category_list_content ul li{ margin-right: 10px; height: 20px; line-height: 20px; width: auto; padding-bottom:0px;}

.category_more_content{ width: 750px; position: absolute; left: 210px; display: none;  background: #000; height:300px; }

.nav_list{ position:relative; left:-4px;  }
.nav_list ul{ height: 40px;}
.nav_list ul li{ background: url(../images/nav_separate.png) right center no-repeat; position: relative;}
.nav_list ul li div.nav_hot{ width: 21px; height: 12px; background: url(../images/tiny-icon.png) 0px -145px no-repeat; position: absolute; top: -3px; left: 50%}

.nav_list ul li a{ color: #fff; display: block; padding: 10px 30px; font-size: 14px; font-family:'微软雅黑';}
.nav_list ul li.active a, .nav_list ul li a:hover{ background: #910000;  }
.buy_cart{ width: 190px; height: 40px; background: #910000; color: #fff; }
.buy_cart font{ color: yellow; font-size: 16px;}
.buy_cart span{ display: block; width: 25px; height: 20px; background: url(../images/tiny-icon.png) 0px -160px no-repeat; position: relative; top: 8px;}


.pb10{ padding-bottom:10px; }

.slider_warp{ position: relative; z-index: 9997;}
.slider{}
.slider_warp ul{ height: 454px;}
.slider_warp ul li{ height: 454px; position: absolute; clear: both; display: block; width: 100%; z-index: 9998}
.slider_ad{ width: 190px; height: 350px;  position: relative; left: 1010px; top: 15px; z-index: 9999}
.slider_ad ul{ padding-top: 8px}
.slider_ad ul li{ width: 175px; height: 110px; margin: 0 auto; position: relative; border-bottom: 1px #CECECE solid; left: 8px;}
.slider_nav{ position: relative;top: -40px; z-index: 10000}
.slider_nav ul{height: auto; width: 975px; padding-left: 225px;}
.slider_nav ul li{ width: 36px; height: 30px; background: url(../images/slider_nav.png) no-repeat; position: relative; clear: none; margin-right: 5px; line-height: 30px; text-align: center; font-size: 14px; color: #fff}
.slider_nav ul li.active{background: url(../images/slider_nav_active.png) no-repeat;}
/*
 *  尾部样式
 *------------------------------------------------------------
*/
.footer{width:100%;background:#fafafa;padding-bottom:35px; overflow:hidden;clear:both;}
.S-w1200{width:1200px;}
.S-link{width:1400px; overflow: hidden; padding-top: 20px; padding-bottom: 20px; }
.footer .S-link li{width:220px;padding-left:20px; margin-left: 15px;}
.footer .S-link li a{display:block; padding-bottom:5px; }
.T-link{width:1100px; margin: auto ;}
.T-link ul li{width:168px;}
.T-link ul{width:1180px;margin-left:10px;}
.link-image{width:66px;height:59px;margin-left:5px;}
.T-logo{width:750px;}
.T-logo li{width:145px;height:51px;}
.textbox{width:145px;margin-left:4px;}   


.cateMenu {
  position: absolute;
  left: 0px;
  font-family: "微软雅黑";
  box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.3);
  background: #F1F1F1;
  cursor: pointer;
  top:40px;
  width: 210px;
}
.cateMenu li.even{ background: #E4E2E2}
.cateMenu li {
  width: 210px;
  overflow: hidden;

}
.cateMenu li .cate-tag {
  width: 180px;
  padding: 0px 10px 5px;
  margin:0px auto;
  overflow: hidden;
  line-height: 25px;
}
.cateMenu li .cate-tag strong {
  height: 25px;
  line-height: 25px;
  width: 172px;
  display: block;
  text-indent: 0px;
}
.cateMenu li .cate-tag strong a {
  font-size: 14px;
  font-weight: bold;
  color: #000;
}
.cateMenu li .cate-tag .listModel {
  text-indent: 0px;
}
.cateMenu li .cate-tag .listModel p {

}
.cateMenu li .cate-tag .listModel a {
  font-size: 12px;
  font-weight: normal;
  color: #666666;
  text-indent: 0px;
  padding: 0 11px 0 0;
}
.cateMenu .on {

}
/*.cateMenu .on .cate-tag .listModel a {
  color: #FFFFFF;
}*/
.float-list-dnav {
  clear: both;
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  padding: 0px;
  width: 210px;
}
.float-list-dnav a {
  color: #000;
  margin: 0 10px 0 10px;
}
.float-list-dnav a:hover {
  color: #ffffff;
}
.cateMenu .list-item {
  width: 750px;
  padding: 10px 10px 20px 10px;
  border: 1px solid #A7A7A7;
  border-left: none;
  background: #FFFFFF;
  box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 210px;
  top: 0px;
}
.cateMenu .list-item .itemleft {
  width: 510px;
  float: left;
}
.cateMenu .list-item .itemright {
  width: 220px;
  float: right;
}
.cateMenu .list-item dl {
  padding-left: 10px;
  overflow:hidden;margin-top:20px;
}
.cateMenu .list-item dt {
  color: #665446;
  font-size: 14px;
  text-indent: 0px;
  border-bottom: 2px solid #665446;
  margin-bottom: 8px;
  font-family: "微软雅黑";
}
.cateMenu .list-item dd {
  font-size: 12px;
  font-weight: normal;
  text-indent: 0px;
  line-height: 26px;
  font-family: "微软雅黑";
}
.cateMenu .list-item dd a {
  color: #646464;
  margin-right: 5px;
  width: 75px;
  height: 22px;
  overflow: hidden;
  display: block;
  float: left;
  margin-bottom: 5px;
}
.cateMenu .list-item dd a:hover {
  color: #000;
}
.cateMenu .list-item .itemright .news-list {
  padding-left: 10px;
}
.cateMenu .list-item .itemright .news-list p {
  line-height: 24px;
  text-indent: 0px;
  font-size: 12px;
  font-weight: normal;
  color: #000;
}
.cateMenu .list-item .itemright .news-list p a {
  color: #646464;
}
.cateMenu .list-item .itemright .news-list p a:hover {
  color: #000;
}
.cateMenu .list-item .itemright .ad-list {
  padding-left: 10px;
}
.cateMenu .list-item .itemright .ad-list a {
  display: block;
  width: 210px;
  height: 100px;
  text-indent: 0px;
  margin-bottom: 8px;
  overflow: hidden;
}

.ffw{font-family:'微软雅黑'; }
.hide{ display: none;}
.show{ display: block;}

/* 首页底部宽度START */

.w900{ width: 900px; overflow: hidden; }
.w1200_2{ width: 1200px; overflow: hidden; }


/* 首页底部宽度END */

.mb{ margin-bottom:10px; };

.search_warp{ margin: 0; margin-right: 30px; margin-top: 10px;  }/* CSS Document */


.body{ position:relative;  top:-30px!important;top: 30px;}
.top_slider{ margin-left: 217px; border: 3px #E4E2E2 solid; position: relative;}
.top_slider_warp{width: 666px; position: relative; height: 180px; overflow: hidden;}
.top_slider_warp ul{position: absolute; left: 0px;}
.top_slider_warp ul li{ border-right: 1px #E4E2E2 solid; height: 176px; width: 222px; }
.activity_top .left{ width: 890px; float: left; display: inline; margin-left:3px; }

.top_slider div.prev, .top_slider div.next{ background: url(../images/slider_controller.png) no-repeat; width: 19px; height: 31px; position: absolute; top: 80px; left: 10px;}
.top_slider div.next{ background: url(../images/slider_controller.png) no-repeat -21px 0px; position: absolute; left: auto; right: 10px;}
.activity_top div.right{ border: 1px #E4E2E2 solid}

.activity_bottom div.left{ padding-top: 10px; box-shadow: 0 0 10px #B0B0B0; }
.activity_bottom div.left div.title{ overflow:hidden;}
.activity_bottom div.left div.title ul{}
.activity_bottom div.left div.title ul li{ width: 178px; height: 39px; background: url(../images/activity_bottom_li_bg.png); line-height: 39px; font-size: 16px; font-weight: bold; text-align: center; border-bottom: 1px #CF3418 solid; color: #5A5959}
.activity_bottom div.left div.title ul li.active{ border: 1px #CF3418 solid; border-top: 2px #CF3418 solid; border-bottom: 0px; height: 38px; color: #CF3418; text-decoration: underline;  cursor: pointer;}
.activity_bottom div.left div.list{ padding: 10px; border: 1px #E1E1E1 solid; width: 870px; overflow: hidden;margin:0px;}
.activity_bottom div.left div.list div.list_one{ width: 875px; height: 480px; overflow: hidden;}
.activity_bottom div.left div.list div.list_one ul{ }
.activity_bottom div.left div.list div.list_one ul li{ width: 170px; height: 240px; margin-right: 5px; }
.activity_bottom div.left div.list div.list_one ul li img{ border: 1px #E1e1E1 solid}
.activity_bottom div.left div.list div.list_one ul li div{ }
.activity_bottom div.left div.list div.list_one ul li div.product_name{ text-align: left; color: #4B4848;overflow: hidden;  text-overflow: ellipsis; white-space: nowrap;}
.activity_bottom div.left div.list div.list_one ul li div.product_name a:hover{ color:#CC0000; }
.activity_bottom div.left div.list div.list_one ul li div.our_price{ color: #EF4141; font-weight: bold; font-size: 16px;}
.activity_bottom div.left div.list div.list_one ul li div.price{ text-decoration: line-through; color: #706F6F}
.activity_slider{ width: 300px;  height:550px; overflow: hidden; border: 1px solid #e4e2e2; position: relative; z-index: 1000}
.activity_slider div.floor_slider_2{ height: 550px;}
.activity_slider div.floor_slider_2 ul{}
.activity_slider div.floor_slider_2 ul li{ position: absolute;}
.activity_slider div.floor_slider{ width: 300px; z-index: 9999; position: relative; top: -40px; left: 50px;}
.activity_slider div.floor_slider ul{ width: 100%; }
.activity_slider div.floor_slider ul li{ height: 10px; width: 60px; color: #fff; text-align: center; margin-left: 10px; background-color: #fff; }
.activity_slider div.floor_slider ul li.active{ height: 10px; width: 60px; text-align: center; margin-left: 10px; background-color: #f39801; }

.price{ text-decoration:line-through;color:#808888;padding-right:5px; margin-left:5px; }

.floor_2 .title{ background-color: #700267; }
.floor_3 .title{ background-color: #c89b40; }
.floor_list{ box-shadow: 0 0 10px #B0B0B0; }
.floor_list div.floor{ border: 1px #E1E1E1 solid; width: 1198px; overflow: hidden;}
.list_2{}
.floor_list div.floor div.left{ float: left; display: inline; width: 213px; }
.floor_list div.floor div.right{ float: right; display: inline; width: 985px;}
.floor_list div.floor div.right div.list{ padding-left: 1px; width: 986px;}
.floor_list div.floor div.title{ padding-top: 5px; width: 986px; overflow: hidden; height: }
.floor_list div.floor div.title div.nav{ padding-left: 1px; background: #DCDBDB; overflow: hidden; }
.floor_list div.floor div.title div.nav ul{}
.floor_list div.floor div.title div.nav ul li{ width: 327px; height: 35px;  text-align: center; font: 16px/35px '微软雅黑'; color: #3E3E3E; background: #DCDBDB; border-right: 1px #CBCACA solid;border-bottom: 1px #CBCACA solid}
.floor_list div.floor div.title div.nav ul li.active{  background: #fff; color: red; font-weight: bold;}
.floor_list div.floor div.left div.title{ height: 35px; font:bold 24px/35px '微软也黑'; color: #fff; padding-left: 10px;}
.floor div.slider_box{width: 212px; height: 446px; position: relative;  }
.floor div.slider_box div.slider{width: 212px; height: 446px; position: relative;}
.floor div.slider_box div.slider ul{}
.floor div.slider_box div.slider ul li{ position: absolute;}
.floor div.slider_box div.slider_2{ position: relative; top: -27px; left: 41px; z-index: 9999;}
.floor div.slider_box div.slider_2 ul li{ height: 5px; width: 32px; margin-left: 5px; background-color: #fff; }
.floor div.slider_box div.slider_2 ul li.active{ height: 5px; width: 32px; margin-left: 5px; background-color: #f39801; }

.floor div.floor_slider_ad{ width: 212px; height: 190px; border-right: 1px #E1E1E1 solid}
.floor div.list ul{}
.floor div.list ul li{ border-right: 1px #E1E1E1 solid; margin-bottom:1px;  width: 196px; text-align: center; padding: 3px 0px;}
.floor div.list ul li div{ height: 20px; line-height: 20px;}
.floor div.list ul li div.product_name{ overflow: hidden; text-align: left; text-overflow: ellipsis; white-space: nowrap; text-indent: 10px;color:#333;}
.floor div.list ul li div.product_name a:hover{ color:#CC0000; }
.floor div.list ul li div.our_price{ color: #CC0000; font-weight: bold; padding-left: 10px; font-size: 18px;}
.floor div.list ul li div.notice{color: #FF6600; padding-right: 10px;font-weight: bold}
.floor div.list ul li div.timer{ clear: both; color: #666666; background: url(../images/tiny-icon.png) 2px -180px no-repeat #EFEDED; width: 150px; margin: 0 auto; padding-left: 15px;}
.floor div.week_sort{ }
.floor div.week_sort div.title{ padding-top: 0px;background: none;border-top: 5px #C80202 solid; margin-bottom: 5px;}
.floor div.week_sort div.title div.nav{padding-left: 0px; background: none; margin-right: 1px;}
.floor div.week_sort div.title div.nav ul{}
.floor div.week_sort div.title div.nav ul li{ padding: 5px 10px; width: auto; height: auto; line-height: normal; background: #fff; border:0px; }
.floor div.week_sort div.title div.nav ul li.active{ background: #C80202; color: #fff; font-weight: normal;}
.floor div.week_sort div.title div.text{ height: 30px; line-height: 30px; }

.floor div.week_sort div.title div.text{padding-left: 20px;font:16px/30px '微软雅黑';color:#333;}
.floor div.week_sort div.sort_list div.list{}
.floor div.week_sort div.sort_list div.list ul{}
.floor div.week_sort div.sort_list div.list ul li{ position: relative; width: 190px; height: 130px;  margin-right: 5px; padding:0px; overflow: inherit; }

.floor div.week_sort div.sort_list div.list ul li div.product_img{ width: 70px; height: 70px; padding-left: 15px; padding-top: 20px; margin-right: 5px;}
.floor div.week_sort div.sort_list div.list ul li div.product_img img{width: 70px; height: 70px;}


.floor div.week_sort div.sort_list div.list ul li div.product_info{ width: 100px; height: 90px;  padding-top: 20px;}
.floor div.week_sort div.sort_list div.list ul li div.product_info div{ text-align: left; line-height: 20px;}
.floor div.week_sort div.sort_list div.list ul li div.product_info div.notice{ font-weight: normal;}
.floor div.week_sort div.sort_list div.list ul li div.product_info div.product_price{ color: red; font-size: 20px; font-weight: bold;}
.floor div.list ul li div.no1, .floor div.list ul li div.no2, .floor div.list ul li div.no3, .floor div.list ul li div.no4, .floor div.list ul li div.no5{height: 55px; width: 45px; position: absolute; z-index: 9999; left: -1px; top: -3px;}
.no1{ background: url(../images/number-icon.png) 0px 0px no-repeat; }
.no2{ background: url(../images/number-icon.png) 0px -55px no-repeat; }
.no3{ background: url(../images/number-icon.png) 0px -110px no-repeat; }
.no4{ background: url(../images/number-icon.png) 0px -165px no-repeat; }
.no5{ background: url(../images/number-icon.png) 0px -220px no-repeat; }
.floor_1 div.title{background: #B61D04;}


.text1{color:#333333;font:12px/2 "微软雅黑"; overflow:hidden; white-space:nowrap; text-overflow: ellipsis; width:60px; }
.text2{color:#de0101;font:bold 18px/2 "宋体";}
.text3{color:#ff661e;font:12px/2 "微软雅黑";}
.text4{color:#c1c1c1;font: bold 14px/50px Arial;}
.text5{ color:#464545; }
.text6{color:#c1c1c1;font: bold 12px/25px "宋体";}
.text7{color:#1a1a1a;font:bold 16px/30px "宋体";padding-top:20px; margin-left:15px; }
.text8{color:#808888;font:  14px/25px "微软雅黑"; text-indent:20px; margin-left:10px;text-indent:25px;}
.text9{color:#de0101;font:18px/50px "宋体";}
.text01{color:#e01b20;font:12px/50px "宋体";}
.text02{color:#c1c1c1;font: bold 12px/18px "宋体";
}
.second-activity{width:100%;overflow:hidden; box-shadow: 5px 0px 5px #ccc; }
.second-activity li{width:595px;}
.second-activity li .S-left{width:196px;}
  .S-left-title{height:40px;background:#e66600;color: #FFFFFF;
    font: bold 20px/35px " 微软雅黑";
    height: 35px;
    padding-left: 10px;}
   .S-left-img{width:196px;height:322px; position: relative; overflow: hidden; }
   .S-left-img div.left_img{ width:196px;height:322px; position: relative;}
   .S-left-img div.left_img ul{}
   .S-left-img div.left_img ul li{ width:196px; height:322px; position: absolute; }
   .S-left-img div.left_button{ position: relative;  top: -19px; left: 38px; z-index: 9999; }
   .S-left-img div.left_button ul{}
   .S-left-img div.left_button ul li{ width: 28px; height: 3px; margin-left: 5px; background-color: #fff;  }
   .S-left-img div.left_button ul li.active{ width: 28px; height: 3px; margin-left: 5px; background-color: #f39801; position:  }

   .S-left-img div.right_img{ width:196px;height:322px; position: relative;}
   .S-left-img div.right_img ul{}
   .S-left-img div.right_img ul li{ width:196px; height:322px; position: absolute; }
   .S-left-img div.right_button{ position: relative;  top: -19px; left: 38px; z-index: 9999; }
   .S-left-img div.right_button ul{}
   .S-left-img div.right_button ul li{ width: 28px; height: 3px; margin-left: 5px; background-color: #fff;  }
   .S-left-img div.right_button ul li.active{ width: 28px; height: 3px; margin-left: 5px; background-color: #f39801; position:  }
  
.second-activity li .S-right{width:399px;overflow:hidden;}
  .S-title-box{border-top:5px #e66600 solid;width:400px;}
  .S-title-box ul{width:399px;overflow:hidden;}
  .S-title-box li{color:#3e3e3e;background:#dcdbdb;border:1px #CBCACA solid;width:197.2px;height:29px;font:14px/29px "微软雅黑";text-align:center;padding-bottom:0px;margin:0}
  .S-title-box li.active{border:1px #fff solid;border-right:1px solid #CBCACA;background:#fff;font-weight:bold;color:#FF0000;cursor:pointer;}
  .S-list{width:400px;overflow:hidden;}
  .sort_list .S-list ul li{width:198.4px;height:106px;border-right:1px #CBCACA solid;border-bottom:1px #CBCACA solid;}
  .S-img{width:86px;height:158px;}
  .S-ad{width:100%;height:120px;float:left; padding-top: 10px; }
  
  
  .G-box{ width:100%;overflow:hidden; box-shadow: 5px 5px 5px #ccc;  }
  .G-tab{width:1198px;border:1px solid #B6B6B6;overflow:hidden;}
  .G-tab ul li{  display:inline; width: 239.6px; height:50px; background:url(../images/li-normal.png);}
  .G-tab ul li p{line-height:20px;text-align:center; width: 239.6px; color:#5a5959;font-weight:bold;border-right:1px solid #B6B6B6;position:relative;top:10px;}
  .G-tab ul li.active p{color:#FFF;}
  .G-tab ul li.active{border:none; color:#fff;cursor:default;background:url(../images/li-active.png);font:bold 12px/30px "微软雅黑";}
  .G-tab_content{ width:1200px;}
  .G-tab_content div.images{ display:none}
  .G-tab_content div.on{ display:block;width:1200px;}
  .clr {clear:both; font-size:0px; line-height:0px; height:0px; overflow:hidden;}
  .G-imagebox{width:170px;height:80px;padding:10px;position:relative;overflow:hidden;}
  .G-imagebox img{position:absolute;}
  .G-tab_content div ul{border-right:1px solid #B6B6B6;width:1199px;overflow:hidden;}
  .G-tab_content div.on li{height:99px;width:198.6px;border:1px solid #B6B6B6;border-top:none;border-right:none;  }
  .G-tab_content div.on li strong{font:18px/1 "宋体";color:#ea0202;float:left;}
  .G-tab_content div.on li p.zhe{font:12px/1.5 "宋体";color:#706f6f;text-indent:20px;text-decoration:line-through;}
  .G-tab_content div{ display:block;}
  .G-tab_content div li{height:99px;width:199px;border:1px solid #B6B6B6;border-top:none;border-right:none; }
  .G-tab_content div li strong{font:18px/1 "宋体";color:#ea0202;float:left;}
  .G-tab_content div li p.zhe{font:12px/1.5 "宋体";color:#706f6f;text-indent:20px;text-decoration:line-through;}

  .T-activity{width:100%;float:left;}
.T-activity .T-activity-left{width:890px;border:1px solid #CBCACA;padding-bottom:4px;  box-shadow: 5px 5px 5px #ccc;  }
.T-activity .T-activity-right{width:300px;border:1px solid #CBCACA;padding-bottom:0px; box-shadow: 5px 5px 5px #ccc;  }
   .T-activity .T-activity-left .T-title{width:870px;background:url(../images/Z-width.png) no-repeat bottom;height:44px;}
   .T-activity .T-activity-left .T-bottom{width:870px;}
   .T-activity .T-activity-left .T-title strong{font: bold 18px/50px "宋体";color:#242424;}
   .T-activity .T-activity-left .T-bottom .T-left{width:200px;height:280px;padding-bottom:10px;padding-top:10px;}
   .T-activity .T-activity-left .T-bottom .T-right{width:650px;}
   .T-activity .T-activity-left .T-bottom .T-right li{width:318px;height:60px ;float:left;padding-top:30px;}  
   .T-activity .T-activity-left .T-bottom .T-right .drink{width:58px ;height:60px;border:1px solid #CBCACA;}
   .T-activity .T-activity-left .T-bottom .T-right .T-text{}
    .T-activity .T-activity-left .T-bottom .T-right .star{padding-top:5px;padding-bottom:5px;}
.T-title2{width:280px;background:url(../images/Z-width.png) no-repeat left bottom;height:44px;}
.T-title2 strong{font:18px/50px "宋体";color:#242424;}
.T-title2 a{display:block;width:50px ;height:30px;background:url(../images/more.png) no-repeat bottom right ;}
.T-news{width:280px;overflow:hidden;}
.T-images{width:100%;height:82px;overflow:hidden;padding-top:10px;margin:0;padding-bottom:10px;margin-bottom:6px;}

.Tnews{width:280px;margin:auto;overflow:hidden;}
.Tnews a{display:block;height:14px;}

.search_wrap{ margin: 0; margin-right: 50px; margin-top: 10px;  }


/*** 首页图片滚动**/
.new_pro_box{margin:0 auto;position:relative; width:1200px;}
.new_pro{margin-left:220px; padding:0; position:relative; width:100%; overflow:hidden;}
.new_pro:after {clear: both;content: " ";display: block;height: 0;visibility: hidden;}
.new_pro .product_show{width: 160px;display: inline;float: left;margin-left: 10px;margin-right: 10px;}
.new_pro .product_show .product_detail{display:block; margin:0 0 20px;}
.new_pro .product_show .product_detail figure{box-sizing: content-box;overflow: hidden;position: relative;}
.new_pro .product_show .product_detail figure{position: relative;}
.new_pro .product_show .product_detail figcaption{background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);bottom: 0;box-sizing: content-box;display: block;padding: 5px 0px 10px;position: absolute;transition: background-color 0.2s ease-in-out 0s;width: 100%; text-align:center;}
.new_pro .product_show .product_detail:hover figcaption{background:none repeat scroll 0 0 #3acf87;padding: 10px 0px 20px;}
.new_pro .product_show .product_detail figcaption h3 {color: #fff;font-size: 16px;font-weight: 700;line-height: 24px;text-transform: uppercase;}
.new_pro .product_show .product_detail figcaption span{color: #fff;display: block;font-size: 16px;font-weight: 300;line-height: 16px;max-height: 0;opacity: 0;padding: 0;position: relative;transition: max-height 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s, padding 0.2s ease-in-out 0s;}
.new_pro .product_show .product_detail:hover figcaption span{opacity: 1;}


/** **/
.tads {
    height: 160px;
    padding-left: 12px;
    padding-top: 12px;
}
.tads a:hover{text-decoration:underline;}
.shang1,.shang2,.shang3{height:35px;margin-bottom:15px;width:190px;word-wrap:break-word;}
.remen{color:#333;font:14px/20px '微软雅黑';}
.huopin{color:#cc0000;font:11px/20px '微软雅黑';margin-left:5px;}
.normal-color{color:#808888;font:12px/20px '微软雅黑';margin-left:5px;letter-spacing:1px;}
.w875{width:875px;height: 480px;overflow: hidden;}
.w875 ul li{height: 230px; width: 170px;padding-bottom:10px;}
.w875 ul li a.listone-image{display:block;width:170px;height:170px;}
.product_names{width:170px;}
.product_names a{font:12px/28px '微软雅黑';color:#333; width:160px; overflow:hidden; text-overflow:ellipsis; white-space: nowrap; display: block;}
.our_prices {color: #ef4141; font-size: 16px;font-weight: bold;float:left;display:inline;position:relative;top:-4px;}
.prices{font:12px/12px '微软雅黑';color: #706f6f;text-decoration: line-through;float:left; display:block; display:inline;margin-left:5px;position:relative;top:2px;left:5px;}
.sstimes {display: block; height: 16px;  position: relative; top: -1px;  width: 17px;float:left;display:inline;}
.djs_span{font:12px/16px '微软雅黑';color:#808888;float:left;display:inline;margin-left:5px;background:#fcfcfc;}
.blacktexts{font:12px/16px '微软雅黑';color:#333;font-weight:bold;}
.lasttime{color:#cc0000;background:#fcfcfc;float:left;margin-left:3px;}
.everyday-time{overflow: hidden; width: 160px;}
img{border:none;}
#everyday-time{}
.redtext{color:#ca2121;}
.fright{float:right;display:inline;}
.aaa{line-height:30px;text-indent:10px;}
.sstime{display:block;width:17px;height:16px;position:relative;top:5px;}
.blacktext{color:#1a1919;font-weight:bold;}
.normalcolors{color:#575757;}
.activity_bottom div.left div.list div.list_one ul li span.sstime img{border:0px;}
.z-list ul{width:100%;overflow:hidden;}
.z-list ul li{width:198px;height:106px;border-bottom: 1px solid #cbcaca; border-right: 1px solid #cbcaca;}
.z-list-imgbox{width:90px;height:90px;margin-left:5px;padding-top:8px;}
.z-list-text{width:98px;padding-top:15px;margin-left:5px;}
p.ta{width:98px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
p.red-red{font:18px/28px "微软雅黑";color:#cc0000;}
p.z-guanzhu{font:14px/25px '微软雅黑';color:#ff661e;}
