<div class="form-group">
    <label>评论人：</label>
    <span><input type="text" name="user_name" value="{$comment.user_name}" class="form-control" /></span>
</div>

<div class="form-group">
    <label>评论商品：</label>
    <select name="goods_id" id="goods_id" class="form-control">
        <foreach name="goods_list" item="goods">
            <option value="{$goods.goods_id}" <if condition="$goods['goods_id'] eq $comment['goods_id']">selected='selected'</if>>
                {$goods.goods_name}
            </option>
        </foreach>
    </select>
    <a href="{:U('Home/Goods/goodsDetail',array('goods_id'=>$comment['goods_id']))}" target="_blank">{$comment.goods_id|getGoodsNameById}</a>
</div>

<div class="form-group">
    <label for="content">评论内容：</label>
    <textarea name="content" id="content" class="form-control">{$comment.content}</textarea>
</div>

<div class="form-group">
    <label for="comment_rank">评论分数：</label>
    <select name="comment_rank" id="comment_rank" class="form-control">
        <foreach name="comment_ranks" item="rank">
            <option value="{$rank.value}" <if condition="$rank['value'] eq $comment['comment_rank']">selected='selected'</if>>
                {$rank.value}
            </option>
        </foreach>
    </select>
</div>

<div class="form-group">
    <input type="hidden" name="comment_id" value="{$comment.comment_id}">
    <input type="hidden" name="user_id" value="{$comment.user_id}">
    <input type="submit" value=" 确定 " class="form-control btn btn-primary">
</div>